div,ul{
    display: flex;
    
    background-color: rgb(12, 168, 230);
    list-style: none;
    justify-content: center;
    gap: 20px;
    color: white;
}
div{
    padding: 10px;
}
li:hover{
    color: black;
    cursor: pointer;
}